- name: Set container build dir
  set_fact:
    docker_build_dir: "{{ ansible_env.HOME }}/contrail-container-builder"

- name: Clone contrail-container-builder repository
  git:
    repo: 'https://github.com/Juniper/contrail-container-builder/'
    force: yes
    dest: "{{ docker_build_dir }}"

- name: Prepare build configuration - common.env
  copy:
    content: |
      CONTRAIL_VERSION={{ zuul.change }}-{{ zuul.patchset }}
      CONTRAIL_REGISTRY={{ docker_registry.fqdn }}:{{ docker_registry.port }}
      CONTRAIL_REPOSITORY=http://{{ site_pulp.fqdn }}/pulp/repos/{{ zuul.change }}-{{ zuul.patchset }}
      OPENSTACK_VERSION={{ openstack_version }}
    dest: "{{ docker_build_dir }}/common.env"

- name: Prepare local mirror repo file
  copy:
    content: |
      [base-mirror]
      name=CentOS base mirror
      baseurl=http://{{ site_pulp.fqdn }}/pulp/repos/centos74/
      enabled=1
      gpgcheck=0
      [updates-mirror]
      name=CentOS updates mirror
      baseurl=http://{{ site_pulp.fqdn }}/pulp/repos/centos74-updates/
      enabled=1
      gpgcheck=0
      [extras-mirror]
      name=CentOS extras mirror
      baseurl=http://{{ site_pulp.fqdn }}/pulp/repos/centos74-extras/
      enabled=1
      gpgcheck=0
    dest: "{{ docker_build_dir }}/containers/base/CentOS-Base.repo"

- name: Prepare third party cache repo file
  copy:
    content: |
      [thirdpartycache]
      name=Contrail Third Party Cache
      baseurl=http://{{ site_pulp.fqdn }}/pulp/repos/opencontrail-tpc/
      enabled=1
      gpgcheck=0
    dest: "{{ docker_build_dir }}/containers/base/tpc.repo"

- name: Create log dir
  file:
    path: "{{ ansible_env.HOME }}/docker-logs"
    state: directory

- name: Prepare container list
  shell: ./build.sh list | grep -v INFO
  become: true
  register: docker_list
  args:
    chdir: "{{ docker_build_dir }}/containers"

- name: Build microservices
  include: build_container.yaml
  with_items: "{{ docker_list.stdout_lines }}"
