CONTAINER_REGISTRY: "{{ docker_registry.fqdn }}:{{ docker_registry.port }}"
REGISTRY_PRIVATE_SECURE: false
REGISTRY_PRIVATE_INSECURE: true
contrail_configuration:
  CONTRAIL_VERSION: "{{ contrail_version }}"
  OPENSTACK_VERSION: "{{ openstack_version }}"
  CONTROLLER_NODES: "{{ ansible_all_ipv4_addresses[0] }}"
  CLOUD_ORCHESTRATOR: kubernetes
roles:
  "{{ ansible_all_ipv4_addresses[0] }}":
    configdb:
    config:
    control:
    webui:
    analytics:
    analyticsdb:
{% if deploy_kubernetes -%}
    k8s_master:
{% endif -%}
    vrouter:
