CONTAINER_REGISTRY: "{{ docker_registry.fqdn }}:{{ docker_registry.port }}"
REGISTRY_PRIVATE_SECURE: false
REGISTRY_PRIVATE_INSECURE: true
contrail_configuration:
  CONTRAIL_VERSION: "{{ contrail_version }}"
  OPENSTACK_VERSION: "{{ openstack_version }}"
  CONTROLLER_NODES: "{{ ansible_all_ipv4_addresses[0] }}"
  CLOUD_ORCHESTRATOR: "{{ cloud_orchestrator }}"
  LINUX_DISTR: centos7
{% if cloud_orchestrator == 'openstack' %}
  AUTH_MODE: keystone
  KEYSTONE_AUTH_ADMIN_PASSWORD: c0ntrail123
  KEYSTONE_AUTH_HOST: "{{ ansible_all_ipv4_addresses[0] }}"
  #RABBITMQ_PORT: 5673
{% endif %}
roles:
  "{{ ansible_all_ipv4_addresses[0] }}":
    configdb:
    config:
    control:
    webui:
    analytics:
    analyticsdb:
{% if cloud_orchestrator == 'kubernetes' %}
    k8s_master:
{% endif %}
    vrouter:
