CONTAINER_REGISTRY: "{{ docker_registry.fqdn }}:{{ docker_registry.port }}"
REGISTRY_PRIVATE_SECURE: false
REGISTRY_PRIVATE_INSECURE: true
contrail_configuration:
  CONTRAIL_VERSION: "{{ contrail_version }}"
  OPENSTACK_VERSION: "{{ openstack_version }}"
  CONTROLLER_NODES: "{{ hostvars[inventory_hostname]['ansible_host'] }}"
  CLOUD_ORCHESTRATOR: kubernetes
roles:
  "{{ hostvars[inventory_hostname]['ansible_host'] }}":
    configdb:
    config:
    control:
    webui:
    analytics:
    analyticsdb:
{% if deploy_kubernetes -%}
    k8s_master:
{% endif -%}
    vrouter:
