- hosts: all
  # Hack intended to prevent dependency conflict between packages installed by ansible-deployer and kolla pre-flight config
  pre_tasks:
    - name: Install build dependencies                                                                                                                                                                                                                                                                                              package:
        name: "{{ item }}"
        state: latest
        become: true
      with_items:
        - centos-release-openstack-ocata
    - name: Install build dependencies                                                                                                                                                                                                                                                                                              package:
        name: "{{ item }}"
        state: latest
        become: true
      with_items:
        - python2-requests
  roles:
    - role: contrail-ansible-deployer
      docker_provision_dir: '/tmp/contrail-container-deployer'
      contrail_version: "{{ zuul.change }}-{{ zuul.patchset }}-centos7"
      openstack_version: ocata
      cloud_orchestrator: openstack
    - role: kolla-provision-dockers
      kolla_provision_dir: '/tmp/contrail-kolla-ansible'
      kolla_config_dir: "{{ kolla_provision_dir }}/etc/kolla"
      kolla_docker_distro: "ubuntu"
      openstack_version: "ocata"
      kolla_version: "contrail_4_1_8"
    - contrail-sanitytests
