- name: Install build dependencies
  package:
    name: "{{ item }}"
    state: latest
  become: true
  with_items:
    - ansible

- name: Clone contrail-ansible-deployer repository
  git:
    repo: 'https://github.com/Juniper/contrail-ansible-deployer'
    dest: "{{ docker_provision_dir }}"

- name: Copy hosts template
  template:
    src: inventory/hosts.j2
    dest: "{{ docker_provision_dir }}/inventory/hosts"

- name: Copy vars template
  template:
    src: "inventory/group_vars/{{ item }}.j2"
    dest: "{{ docker_provision_dir }}/inventory/group_vars/{{ item }}"
  with_items:
    - all.yml
    - container_hosts.yml

- name: ensure SSH key is generated
  command: ssh-keygen -t rsa -f /root/.ssh/id_rsa -N ''
  args:
    creates: /root/.ssh/id_rsa
  become: True
  become_user: root

- name: add key to authorized keys
  shell: |
    cp /root/.ssh/id_rsa.pub /root/.ssh/authorized_keys
    chmod 600 /root/.ssh/authorized_keys
    chmod 600 /root/.ssh/id_rsa
    chmod 600 /root/.ssh/id_rsa.pub
    chmod 700 /root/.ssh
  become: True
  become_user: root

- name: Provision Contrail with deploy.yml playbook
  command: >
    ansible-playbook -i inventory/ playbooks/deploy.yml -v
  args:
    chdir: "{{ docker_provision_dir }}"
  environment:
    ANSIBLE_HOST_KEY_CHECKING: 'False'
    ANSIBLE_STDOUT_CALLBACK: debug
  become: True
  become_user: root

- name: Show the list of running containers
  command: docker ps -a
  become: True
  become_user: root

- name: wait for the vrouter initialization
  wait_for:
    host: github.com
    port: 443
    timeout: 3000
    state: started
